body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: url('/images/bg-pattern-top.svg') right 51.5vw bottom 35vh no-repeat,
    hsl(185, 75%, 39%) url('/images/bg-pattern-bottom.svg') left 49vw top 53vh no-repeat;
  text-align: center;
  font: 400 18px/1.5 'Kumbh Sans', sans-serif;
  /* overflow: hidden; */
}

main {
  position: relative;
  height: 100%;
}

.card {
  --card-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 370px;
  margin: 0;
  background-color: #fff;
  border-radius: var(--card-radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card header {
  height: 40%;
  background: url('/images/bg-pattern-card.svg') no-repeat;
  border-radius: var(--card-radius) var(--card-radius) 0 0;
}

.profile-picture {
  border-radius: 100%;
  border: 5px solid white;
  position: absolute;
  top: 23.5%;
  left: 50%;
  transform: translateX(-50%);
}

.profile-info {
  margin-top: 55px;
  padding-right: 7.5px;
}

.name {
  font-weight: 700;
  color: hsl(229, 23%, 23%);
  padding-right: 4px;
}

.age {
  color: hsl(227, 10%, 46%);
}

.address {
  display: block;
  color: hsl(227, 10%, 46%);
  font-size: 14px;
  padding-top: 5px;
}

hr {
  border-top: 1px solid hsl(0, 0%, 59%);
  opacity: 17%;
}

.social-media-status {
  padding: 15px 0px;
  display: flex;
  justify-content: space-evenly;
}

.stats {
  font-weight: 700;
  color: hsl(229, 23%, 23%);
}

.stats-name {
  display: block;
  font-size: 10px;
  color: hsl(0, 0%, 59%);
}

@media (max-width: 900px) {
  body {
    background-position: right 40vw bottom 40vh, left 45vw top 40vh;
  }

  .card {
    width: 325px;
  }

  .card header {
    background-size: cover;
  }

  .profile-picture {
    top: 27%;
    margin-bottom: 5px;
  }
  .stats-name {
    font-size: 10px;
  }
}
